body,
html {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
p,
a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3 {
  font-weight: 700;
  text-align: center;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#circle-container {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #652cb9;
  animation: blink 3s infinite;
}

#title-container {
  position: relative;
  margin: 18rem 0;
  z-index: 1;
}

#subtitle {
  position: relative;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0rem;
}

#title {
  margin-top: 0rem;
  font-size: 8rem;
  position: relative;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  /* background-color: white; */
  height: 200px;
  width: 200px;
  position: absolute;
  translate: -50% -50%;
  border-radius: 50%;
  background-image: linear-gradient(to right, #5e0e32, #325e0e);
  /* animation: rotate 7s infinite linear; */
  filter: blur(100px);
}

#content {
  position: relative;
  z-index: 1;
}

.card {
  padding: 1rem;
  padding-top: 0;
  margin: 4rem;
  border-radius: 3rem;
}

#about-me-card {
  border: solid #1c4e7c;
  background: linear-gradient(#256f94, #561139);
  display:flex;
  opacity: 0.9;
}

#about-me-card p{
  margin: auto;
  padding: 2rem;
  text-align: justify;
  font-size: 1.3rem;
}

#contact-me {
  clear: both;
}

.project-card {
  position: relative;
  width: 52%;
  margin: 0 2rem;
  opacity: 0.9;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

a {
  color: white;
  text-decoration: none;
  opacity: 0.6;
}

a:hover{
  opacity: 1;
}


#tetris-project {
  float: left;
  border: solid #1c4e7c;
  background-image: linear-gradient(#4256b7,#561156);
}

#personal-site {
  top: -2rem;
  float: right;
  padding-top: 1.3rem;
  padding-bottom: 1.2rem;
  border: solid #1c4e7c;
  background-image: linear-gradient(#7d195a,#3f4b9e);
}

#project3 {
  top: -3.8rem;
  float: left;
  border: solid #1c4e7c;
  background-image: linear-gradient(#406bcd,#561139);
}

.section-heading {
  font-size: 4rem;
}

#personal-site .card-heading{
  top: -3.6rem;
}

.card-heading{
  font-size: 3rem;
  position: relative;
  margin: 0 1.5rem;
  top: -2.3rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

#pfp {
  padding: 0;
  margin: 0.6rem 0.5rem 0.5rem 0;
  height: 20rem;
  border-radius: 50%;
}

p {
  font-size: 1.1rem;
  text-align: center;
}

.fa{
  font-size: 1rem;
}

#socials .fa{
  font-size: 1.4rem;
  background-color: grey;
  border-radius: 20%;
  padding: 0.4rem;
  margin: 1rem 1.5rem;
  color: white;
}

.project-image{
 width: 85%;
 margin-bottom: 2rem;
}

.image-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

#socials{
  text-align: center;
}

section{
  margin: 10rem 0;
}



#contact-me{
  margin-bottom: 0;
}

footer {
  position: relative;
  clear: both;
  padding: 0.8rem;
  z-index: 1;
}

footer p {
  text-align: center;
  margin: 0;
}

@media (max-width: 800px) {
  #about-me-card{
    display:block;
  }

  #pfp{
    width: 80%;
    height: auto;
    margin:  10%;
  }

  #personal-site .card-heading{
    width: 100%;
  }
}